/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *


 */
/*@import "bootstrap-sprockets";
@import "bootstrap";*/
/*@import "bootstrap/theme";*/
/* Customize container */
@media (min-width: 768px) {
  .container {
    max-width: 680px;
    margin-top: 100px; } }
.list-wrapper {
  position: relative; }

h1, h2 {
  text-align: center;
  margin-top: 0;
  margin-bottom: 0; }

h1 {
  font-size: 3em; }

h2 {
  font-size: 1.5em; }

/* Customize input-group*/
.input-group {
  padding: 0.5em 0.8em 0.5em 0.3em;
  background-color: silver; }

.form-control {
  border-radius: 0; }

.input-group > .glyphicon.glyphicon-plus {
  font-size: 1.6em;
  color: green;
  border: 0;
  top: 0;
  background-color: inherit; }

.input-group-btn:last-child > .btn {
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
  padding-left: 18px;
  padding-right: 18px; }

/* Customize list group */
.list-group::before {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 42px;
  width: 5px;
  z-index: 2;
  border: 1px solid #f2e3df;
  border-width: 0 1px; }

.list-group-item:hover {
  background-color: #FCFED5; }

.list-group-item:last-child {
  border-bottom-right-radius: 16px;
  border-bottom-left-radius: 16px; }

.list-group-item:first-child {
  border-top-right-radius: 0px;
  border-top-left-radius: 0px; }

.list-group {
  border-radius: 16px; }

.list-group-item {
  overflow: hidden; }

.list-group label {
  font-weight: inherit;
  margin: 0;
  float: left;
  width: 472px;
  display: block; }

.list-group input {
  margin: 0 26px 0 0;
  position: relative;
  top: 4px;
  float: left; }

/* Project heading */
.list-item-buttons {
  float: left;
  margin: 0 0 0 32px; }

.list-item-buttons::before {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  right: 106px;
  width: 1px;
  z-index: 2;
  border: 1px solid #999999;
  border-width: 0 1px 0 0; }

.list-item-icon {
  float: left;
  border: 1px solid black;
  visibility: hidden; }

.list-group-item:hover .list-item-icon {
  visibility: visible; }

.heading {
  background-color: #66aacc;
  margin: 0;
  overflow: hidden;
  color: white;
  margin-top: 40px; }

.heading ul {
  margin: 0;
  padding: 0; }

.heading ul li {
  display: block;
  float: left;
  background: gray;
  padding: 0.5em;
  border: 0;
  height: 36px; }

.project-title {
  width: 82%; }

.icon-calendar {
  width: 6%; }

.icon-edit {
  width: 6%; }

.icon-delete {
  width: 6%; }

.heading h1 {
  font-size: 1.3em;
  margin: 0;
  line-height: inherit;
  padding: 0; }

/* Add TODO List button */
#add-todo-list {
  font-size: 1.4em;
  font-weight: bold;
  width: 196px;
  margin: 40px auto 0 auto;
  display: block; }

button .glyphicon-plus {
  color: black;
  margin-right: 6px; }

#error_explanation {
  color: #f00; }
  #error_explanation ul {
    list-style: none;
    margin: 0 0 18px 0; }
