<% provide(:title, 'Projects') %>
<h1>SIMPLE TODO LISTS</h1>
<h2>FROM RUBY GARAGE</h2>

<%= render @projects %>

<%= link_to new_project_path do %>
	<button type="button" class="btn btn-primary" id="add-todo-list">
		<span class="glyphicon glyphicon-plus"></span>
		Add TODO List
	</button>
<% end %>